# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Outputs (imagens, pesos)
outputs/
*.pt
*.pth

# Datasets (NÃO versionar)
task1/data/
task2/data/
task4/data/

# OS / Editor
.DS_Store
.vscode/
